<mat-toolbar color="primary">
 Home Tasks

  <!-- <a mat-raised-button class="navigation-item" routerLink="template-form" routerLinkActive="router-link-active">
    Template-driven forms
  </a>

  <a mat-raised-button class="navigation-item" routerLink="reactive-form" routerLinkActive="router-link-active">
    Reactive forms
  </a>

  <a mat-raised-button class="navigation-item" routerLink="template-form-doc" routerLinkActive="router-link-active">
    Template-driven form docs
  </a>

  <a mat-raised-button class="navigation-item" routerLink="reactive-form-doc" routerLinkActive="router-link-active">
    Reactive form docs
  </a> -->

  <a mat-raised-button class="navigation-item" routerLink="add-user-form" routerLinkActive="router-link-active">
    Add user form
  </a>

  <a mat-raised-button class="navigation-item" routerLink="directives-pipes" routerLinkActive="router-link-active">
    Directives Pipes
  </a>

  <a mat-raised-button class="navigation-item" routerLink="service-task" routerLinkActive="router-link-active">
    Service table
  </a>
</mat-toolbar>

<div class="main-container">
  <router-outlet></router-outlet>
</div>
